body {
    background-image: url("http://www.sololearn.com/uploads/css_logo.png");
    background-color: #e9e9e9;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
p {
    /*comment*/
    color: brown;
    background-color: white;
}
#spP {
    color: blue;
    background-color: white;
    font-size: 130%;
    text-align: center;
}
.frist1 {
    color: blueviolet;
    background-color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-size: small;
}
#div1 .frist1 b {
    color: chartreuse;
    background-color: aqua;
    font-size: 30px;
    font-style: italic;
    font-weight: lighter;
    font-variant: small-caps;
}
td.top {
    vertical-align: top;
}
td.middle {
    vertical-align: middle;
}
td.bottom {
    vertical-align: bottom;
}

span.baseline {
    vertical-align: baseline;
}
span.sub {
    vertical-align: sub;
}
span.super {
    vertical-align: super;
}
span.pixel {
    vertical-align: -10px;
}

div.div3 {

    height: 100px;
    width: 200px;
    background-color: blueviolet;
    display: inline-table;
}
div.div4 {
    display: table-cell;
    vertical-align: middle;
}

p.none {
    text-decoration: none;
}
p.inherit {
    text-decoration: inherit;
}
 p.overline {
    text-decoration: overline;
 }
 p.underline {
    text-decoration: underline;
 }
 p.line-through {
    text-decoration: line-through;
    text-indent: 60px;
 }
 h1.shadow1 {
     font-size: 50px;
     text-shadow: 5px 2px 5px green;
 }
 p.capitalize {
     font-size: 20px;
     text-transform: capitalize;
 }
 p.positive {
     letter-spacing: 4px;
 }
 p.negative {
     letter-spacing: -2px;
 }
 p.px {
     word-spacing: 4px;
 }
 p.pre {
    white-space: pre;
 }
 p.preline {
    white-space: pre-line;
 }
 p.prewrap {
    white-space: pre-wrap;
 }
 p.pading1 {
     padding: 10px;
     border: 5px solid green;
 }
 p.first {
    padding: 10px;    
    border-style: solid;
    border-width: 2px;
    border-color: blue;
 }
 p.second {
    padding: 10px;    
    border-style: solid;
    border-width: 5px;
    border-color: #ff0000;
 }
p.none {border-style: none;}
p.dotted {border-style: dotted;}
p.dashed {border-style: dashed;}
p.double {border-style: double;}
p.groove {border-style: groove;}
p.ridge {border-style: ridge;}
p.inset {border-style: inset;}
p.outset {border-style: outset;}
p.hidden {border-style: hidden;}

div.border2 {
    border-style: dashed;
    border-color: blue;
    border-width: 5px;
    width: 90px;
    height: 90px;
    background-color: blueviolet;
}
p.first {
    border: 5px solid green;
    min-height: 100px; 
}
p.second {
    border: 5px solid green;
    max-width: 100px;
}
p.bgimage1 {
    padding: 30px;
    background-image: url("http://www.sololearn.com/images/tree.jpg");
    height: 100px;
}
ol.lower-alpha {
    list-style-type: lower-alpha;
}
ul.circle {
    list-style-image: url("http://www.sololearn.com/images/bullet.jpg");
    list-style-position: inside;

}
ul.square {
    list-style-type: square;
}
table.table1 {
    caption-side: top;
    empty-cells: hide;
    border-width: 5px;
    border-color: #ff0000;
    border-collapse: separate;
    border-spacing: 20px 40px;
}
a:hover {
    color: red;
}
a {
    text-decoration: none;
    cursor: move;
}
span.block1 {
    display: block;
}
p.hiddened {
    visibility: hidden;
}
#fixed {
    position: fixed;
    top: 30px;
    right: 50px;
    color: blue;
}
img.right-float {
    float: right;
    margin-left: 10px;
}
p.large {
    width: 100%;
    font-size: 30px;
}
.clear {
    clear: both;
}
div.overF1 {
    width: 150px;
    height: 100px;
    background-color: aqua;
    float: left;
    overflow: scroll;
}
#blue1 {
    background-color: #0000ff;
    width: 100px;
    height: 100px;
    color: white;
    z-index: 2;
    position: relative;
}
#red1 {
    background-color: #ff0000;
    width: 100px;
    height: 100px;
    color: white;
    margin-top: -30px;
    margin-left: 30px;
    z-index: 1;
    position: relative;
}