.border1 {
    border-radius: 15px;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    color: white;
    display: inline-table;
    box-shadow: inset 5px 5px 10px #999999;
}
.border2 {
    border-radius: 0 0 15px 15px;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    box-shadow: 10px 10px 5px 5px #00ff00;
}
.border3 {
    border-radius: 75px;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    box-shadow:
    inset 10px 10px 5px #999999,
    inset -10px -10px 5px #999999;
}
.border4 {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: blueviolet;
    box-shadow:
    0 0 15px 10px #131ebe,
    0 0 30px 20px #0dca6c;
}
#cell1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-shadow: 10px 10px 5px rgba(66, 66, 66, 0.8);
}
body {
    background-color: rgb(176, 238, 238);
}
nav {
    padding: 50px;
    min-width: 500px;
}
nav ul {
    background: linear-gradient(90deg, 
     rgba(255, 255, 255, 0) 0%, 
     rgba(255, 255, 255, 0.2) 25%, 
     rgba(255, 255, 255, 0.2) 75%, 
     rgba(255, 255, 255, 0) 100%);
     box-shadow:
     0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}
nav ul li {
    display: inline-block;
}
#parent p:first-child {
    color: #131ebe;
    text-decoration: underline;
}
#test1 {
    font-size: 30px;
}
#test2 {
    font-size: 30px;
}
#test1::first-line {
    color: rgb(79, 27, 221);
    text-decoration: underline;
}
#test2::selection {
    color: #e91515;
    background: #131ebe;
}
#test1::before {
    content: url(http://www.sololearn.com/images/bullet.jpg);
}
#test3 {
    border: 1px solid red;
    width: 100px;
    word-wrap: break-word;
}
#test4 {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(100deg, #131ebe 80%, #000000);
}
#test5 {
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(top left, #131ebe 80%, #000000);
}
#test6 {
    width: 100px;
    height: 100px;
    background: -webkit-repeating-linear-gradient(top, #131ebe, #000000 10px);
}
#test7 {
    width: 100px;
    height: 100px;
    background: -webkit-radial-gradient(circle, green, yellow);
}
#test8 {
    border: 2px solid red;
    width: 100px;
    height: 100px;
    padding: 50px;
    background: -webkit-radial-gradient(top left, circle, green 30%, yellow);
    background-clip: content-box;
}
#test9 {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    background: url(http://www.sololearn.com/uploads/css_logo.png) no-repeat 50% 50%;
    background-size: 100px 100px;
}
#test10 {
    width: 200px;
    height: 100px;
    border: 1px solid red;
    background: url(http://www.sololearn.com/uploads/css_logo.png) no-repeat 50% 50%;
    background-size: cover;
}
#test11 {
    opacity: 0.5;
    filter: alpha(opacity=50);
    border: 50px solid rgba(0, 0, 0, 0.3);
    width: 200px;
    height: 200px;
    background-color: #131ebe;
    background-clip: padding-box;
}
#test12 {
    width: 400px;
    height: 300px;
    background: url("http://www.sololearn.com/uploads/css_logo.png"), url("http://www.sololearn.com/uploads/better-code.jpg");
    background-position: bottom right, top left;
    background-repeat: no-repeat;
}
#test13 {
    width: 50px;
    height: 50px;
    background-color: green;
    transition: width 3s;
}
#test14 {
    width: 150px;
    height: 50px;
    margin-top: 50px;
    background-color: rgb(98, 39, 206);
    transition: background-color 1s ease-in;
    transform: rotate(30deg);
}
#test13:hover {
    width: 150px;
}
#test14:hover {
    background-color: #e91515;
}
#test15 {
    position: relative;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin: 50px;
    padding: 10px;
    background-clip: padding-box;
}
#test16 {
    position: absolute;
    border: 1px solid white;
    padding: 30px;
    background-color: green;
    background-clip: padding-box;
    transform: rotate(30deg);
    transform-origin: 20% 10%;
}
#test17 {
    position: relative;
    width: 10px;
    height: 5px;
    padding: 50px;
    margin: 0px;
    background-color: #e91515;
    background-clip: padding-box;
    transform: translate(100px, 50px);
    -webkit-transform: translate(100px, 50px);
}
#test18 {
    position: relative;
    width: 10px;
    height: 5px;
    padding: 50px;
    margin: 50px;
    background-color: #e91515;
    background-clip: padding-box;
    transform: skew(20deg) rotate(20deg);
}
#test19 {
    position: relative;
    padding: 50px;
    width: 100px;
    height: 20px;
    margin: 50px;
    background-clip: padding-box;
    background-color: #131ebe;
    transform: scale(0.5, 0.5);
    overflow: scroll;
}
#test20 {
    width: 100px;
    height: 50px;
    background-color: red;
    animation-name: changeBG, changeW;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes changeBG {
    0% {background-color: red;}
    50% {background-color: green;}
    75% {background-color: blue;}
    100% {background-color: red;}
}
@keyframes changeW {
    0% {width: 0px;}
    100% {width: 100px;}
}
#test21 {
    position: relative;
    margin: 30px;
    width: 200px;
    height: 200px;
    border: 1px solid red;
    perspective: 100px;
}
#test22 {
    position: absolute;
    
    border-radius: 75px;
    width: 150px;
    height: 150px;
    background-color: #131ebe;
    background: linear-gradient(#00ff00, #131ebe);
    transform: rotateX(20deg);
    transform: rotateY(20deg);
}